<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Eye</title>
</head>

<body>
    <h1>Nav Eye</h1>
    <h2>Helps visually impaired individuals in percieving their environment better.</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg" required>
        <button type="submit">Upload</button>
    </form>

    {% if scene_analysis %}
    <h3>Scene Analysis:</h3>
    <p>{{ scene_analysis }}</p>
    {% if audio_path %}
    <audio controls>
        <source src="{{ audio_path }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    {% endif %}
    {% endif %}

    <!-- {% if image_with_boxes %}
    <h3>Object Detection:</h3>
    <img src="{{ image_with_boxes }}" alt="Detected Objects">
    {% endif %} -->
    {% if image_with_boxes %}
    <h3>Object Detection:</h3>
    <img src="{{ image_with_boxes }}" alt="Detected Objects">
    {% endif %}

    {% if extracted_text %}
    <h3>Extracted Text:</h3>
    <p>{{ extracted_text }}</p>
    {% if audio_path %}
    <audio controls>
        <source src="{{ audio_path }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    {% endif %}
    {% endif %}

</body>

</html>